div(ng-if="!hayHorarios()")
  h2
    span No hay ningún horario para&nbsp;
    b {{ profesorIngresado }}
    span &nbsp;:(

    p
      small
        span TIP: el cuadro de búsqueda autocompleta con los apellidos, probá poniendo las primeras letras.

div(ng-if="hayHorarios()")
  h3 Horarios de&nbsp;
    b {{profesor}}

  table.table
    thead
      tr
        th Horario
        th(ng-repeat="dia in dias") {{dia}}
    tbody
      tr(ng-repeat="bloque in bloques")
        td.col-lg-2 {{ horarioDe(bloque) }}
        td.col-lg-2(ng-repeat="dia in dias", ng-class="{ 'alert-info': esDia(dia) }")
          h4
            span {{ materiaPara(dia, bloque).division }}&nbsp;
            span(ng-if="materiaPara(dia, bloque).grupo != null") - Grupo {{ materiaPara(dia, bloque).grupo }}
          p {{ materiaPara(dia, bloque).nombre }}
