div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h3 Horarios del colegio Sagrado Corazón AlCal

      tabset
        tab(ng-repeat="horario in horarios", heading="{{horario.division}}")
          table.table.table-striped
            thead
              tr
                th Horario
                th(ng-repeat="dia in dias") {{dia}}
            tbody
              tr(ng-repeat="bloque in bloques")
                td {{ horarioDe(bloque) }}
                td(ng-repeat="dia in dias")
                  div(ng-repeat="materia in materiaPara(horario, dia, bloque)")
                    span
                     h4 {{ materia.nombre }}
                      small
                    p
                      i {{ materia.profesor }}

                    p(ng-if="materia.grupo != null") {{ "Grupo " + materia.grupo }}
