.container
  .row
    .col-lg-12
      h3 Materias por curso

      tabset
        tab(ng-repeat="curso in cursos", heading="{{curso.division}}")
          table.table
            thead
              tr
                th Materia
                th Profesores
            tbody
              tr(ng-repeat='materia in curso.materias')
                td {{materia.nombre}}
                td {{materia.profesores.join(', ')}}
