.row
  .col-sm-8.col-sm-offset-2
    #form-container
      .page-header.text-center
        ul.nav.nav-pills
          li(ui-sref-active='active')
            a(ui-sref='.excel') Carga inicial desde listado Excel
          li(ui-sref-active='active')
            a(ui-sref='.edicion') Edición manual
          li(ui-sref-active='active')
            a(ui-sref='.resumen') Ver resumen y guardar

      div(ui-view='')
