div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      div(ng-show="cursos == null")
        label Seleccioná el archivo Excel con el listado de materias por año.
        p.help-block Por ahora el unico formato soportado es XLS (Excel 2003), así que probablemente tengas que convertirlo antes :(
        input.form-control(type="file", ng-file-select="", on-read-file="parseExcel($fileContent)")

      div(ng-show="cursos != null")
        h3 Materias por curso
        tabset
          tab(ng-repeat="curso in cursos", heading="{{curso.division}}")
            table.table
              thead
                tr
                  th Materia
                  th Profesor
              tbody
                tr(ng-repeat='materia in curso.materias')
                  td
                    input.form-control(ng-model="materia.nombre", typeahead="it for it in materias | filter:$viewValue")
                  td
                    input.form-control(ng-model="materia.profesor", typeahead="it for it in profesores | filter:$viewValue")
                  td
                    a(href="#", ng-click="eliminarMateria(curso, materia)") Eliminar
